.bg-gray {
    background: #eeeeee;
}

.mainDiv {
    min-height: 800px;
    padding: 2%;
}

.card-text {
    font-weight: bold;
}

.very-high-importance {
    color: #EA2027;
}

.high-importance {
    color: #887702;
}

.color-green {
    color: #27ae60 !important;
}

.color-red {
    color: #EA2027 !important;
}

.trash {
    cursor: pointer;
    color: #EA2027 !important;
    padding-top: 5%;
}

#display-todo .list-group-item {
    padding: 0 2rem !important;
    margin-top: 1px !important;
}

.completed-item {
    text-decoration: line-through;
}

.list-group-item label,
.list-group-item input {
    cursor: pointer;
}

.normal-importance {
    color: #0984e3;
}

.scroll {
    overflow: scroll;
}

#mainCalendar {
    width: 96%;
}

#todoItem,
#todoList {
    padding: 3%;
}

.radio,
.radio-inline {
    cursor: pointer;
}

.btn-main {
    color: white;
    background: #6c5ce7;
}

.btn-main:hover {
    color: white;
    background: #6a5be2;
}

.small-text {
    font-weight: bold;
    font-size: 13px;
}

.small-text-gray {
    font-size: 12px;
    color: #aaa;
}

.link {
    cursor: pointer;
}

#deleteAll {
    position: absolute;
    right: 1%;
}

.veryHighList {
    border-left: 4px solid #EA2027 !important;
}

.highList {
    border-left: 4px solid #887702 !important;
}

.normalList {
    border-left: 4px solid #0984e3 !important;
}

.hide {
    display: none;
}