.bg-gray {
    background: #eeeeee;
}

.mainDiv {
    min-height: 800px;
    padding: 2%;
}

.card-text {
    font-weight: bold;
}

.very-high-importance {
    color: #EA2027;
}

.high-importance {
    color: #887702;
}

#simple-input {
    height: 60px;
}

.k-picker-wrap.invalid-input,
input.invalid-input {
    border-color: #dc3545;
}

.totalItems {
    font-style: italic;
    letter-spacing: 4px;
    font-size: 20px;
}

.k-calendar td {
    padding: 3% !important;
}

#tutorialdata {
    text-align: left;
    padding-left: 4%;
    font-size: 15px;
}

#deleteStorage {
    position: absolute;
    right: 1%;
}

.color-green {
    color: #27ae60 !important;
}

.color-red {
    color: #EA2027 !important;
}

.trash {
    cursor: pointer;
    font-size: 1rem;
    color: #EA2027 !important;
}

#display-todo .list-group-item {
    padding: 0 2rem !important;
    margin-top: 1px !important;
}

.completed-item {
    text-decoration: line-through;
}

.list-group-item label,
.list-group-item input {
    cursor: pointer;
}

.normal-importance {
    color: #0984e3;
}

.scroll {
    overflow: scroll;
}

#mainCalendar {
    width: 96%;
    box-shadow: 1px 1px 2px 4px #dee2e6;
}

div.category.padding-left-six {
    margin-top: 10px;
}

#title-span {
    color: white;
    margin-right: 100px;
    font-size: 20px;
}

#todoItem,
#todoList {
    padding: 3%;
    font-size: 19px;
}

.radio,
.radio-inline {
    cursor: pointer;
}

.btn-main {
    color: white !important;
    background: #6c5ce7;
    margin-top: 2%;
    min-width: 45%;
    text-align: center;
}

.btn-main:hover {
    margin-top: 1%;
    color: white;
    background: #6a5be2;
}

.small-text {
    font-weight: bold;
    font-size: 13px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.nav-link {
    border: 0 !important;
}

.nav-tabs {
    border: 0 !important;
    margin-bottom: 2%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #6c5ce7 !important;
    border-color: #6c5ce7 !important;
    border-bottom: 3px solid #6c5ce7 !important;
}

.veryHighList {
    border-left: 5px solid #EA2027 !important;
}

.highList {
    border-left: 5px solid #887702 !important;
}

.normalList {
    border-left: 5px solid #0984e3 !important;
}

.k-notification-info {
    background-color: #6c5ce7;
}


/***********CHECK BOX DESIGN******/

.main {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 5px;
    padding-right: 38px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #6c5ce7;
    border-radius: 12px;
    background-color: white;
}

.main:hover input~.checkmark {
    background-color: #6c5ce7;
}

.main input:checked~.checkmark {
    background-color: #6c5ce7;
}

#md-todoList .list-group-item {
    padding: 1% !important;
    width: 150% !important;
}

#md-todoList .trash {
    position: absolute !important;
    right: 2% !important;
    top: 26% !important;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.main input:checked~.checkmark:after {
    display: block;
}

.main .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

.search-box {
    border: 1px dashed #ccc;
    margin: 5%;
    padding: 5%;
    text-align: center;
}

.hr {
    border-top: 5px solid #6c5ce7 !important;
}

div#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

div#overlay div {
    text-align: center;
    width: 600px;
    color: black;
    align-self: center;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-top: 10%;
}

.k-link .badge {
    font-size: 100%;
    background-color: #6c5ce7;
}

.k-state-selected,
.k-state-hover,
.k-state-border-down {
    background-color: #6c5ce7 !important;
}

.k-state-selected a,
.k-state-hover a,
.k-state-border-down a {
    color: white !important;
}

.k-calendar .k-link.k-nav-fast {
    color: white !important;
}

.k-calendar .k-header .k-icon {
    color: white !important;
}

.k-header {
    background-color: #6c5ce7 !important;
}

.todo-toolTip {
    font-size: 12px;
    font-style: italic;
}


/* form */

#simple-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaa;
    font-size: 0.8em;
    font-style: italic;
}

#simple-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa;
    font-size: 0.8em;
    font-style: italic;
}

#simple-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa;
    font-size: 0.8em;
    font-style: italic;
}

#simple-input:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa;
    font-size: 0.8em;
    font-style: italic;
}

#deleteStorage {
    background-color: white;
}